div.whos-that-pokemon-container {
  display: grid;
  grid-template-rows: 2;
  grid-template-areas: 
    "secret-pokemon"
    "input-answer";
  text-align: center;
  justify-content: center;
}

div.secret-pokemon {
  grid-area: "secret-pokemon";
  width: 454px;
  height: 340px;
}

div.input-answer {
  justify-content: center;
  grid-area: "input-answer";
}

img.who-is-it {
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 100px var(--main-font-color);
  border-radius: 4px;
  z-index: 10;
}

img.secret-pokemon {
  position: relative;
  top: -75%;
  left: -22%;
  cursor: pointer;
  filter: grayscale(80%) blur(0px) drop-shadow(0px 0px 10px rgba(0, 0, 0, .5));
  z-index: 20;
  max-height: 96px;
  max-width: 96px;
}

input {
  border-radius: 2px;
  box-shadow: 0px 0px 5px var(--main-font-color);
  background-color: var(--main-font-color);
  border: none;
  padding: 12px;
  margin: 4px;
}

input.answer {
  width: 33%;
}

input.submit {
  cursor: pointer;
}
