:root {
  --main-bg-color: rgb(65, 170, 186);
  --main-font-color: rgb(207, 235, 231);
  --score-correct-font-color: lightgreen;
  --score-neutral-font-color: lightyellow;
  --score-incorrect-font-color: lightpink;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

h1 {
  color: rgb(255, 203, 5);
  font-size: 48px;
}

h2 {
  color: rgb(255, 176, 0);
}

h3 {
  color: rgb(255, 101, 25);
}